:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;

  --primery-background-color: #ffffff;
  --secondary-background-color: #ececec;
  --accent-background-color: #2f303a;
  --grey-background-color: #f5f4fa;
  --blue-background-color: #2196f3;

  --primery-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primery-background-color);
  font-family: var(--primery-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
ul,
p,
a {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  cursor: default;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.section {
  background-color: var(--primery-background-color);
  font-style: normal;
  padding-top: 94px;
  padding-bottom: 94px;
}
h2 {
  color: var(--primary-text-color);
  font-family: var(--primery-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.link,
.list {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/* top line */
.logo {
  color: #000000;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-color {
  color: var(--accent-color);
}

/* top line Navigation */

.site-nav-list {
  color: var(--primary-text-color);
  font-family: var(--primery-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav-link:visited {
  color: var(--primary-text-color);
}
.link-current {
  cursor: pointer;
}
.link-current:hover,
.link-current:focus {
  color: var(--accent-color);
}
.contacts-link {
  color: var(--secondary-text-color);
  cursor: pointer;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.contacts-tel {
  color: var(--secondary-text-color);
}
/* Стили для index.html */
/* section one. hero */
.hero {
  background-color: var(--accent-background-color);
}
.hero-title {
  color: var(--second-accent-color);
  font-family: var(--primery-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

/* button */
.button-service {
  color: var(--second-accent-color);
  background-color: var(--blue-background-color);
  font-family: var(--primery-font);
  font-style: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-service:hover,
.button-service:focus {
  background-color: #188ce8;
}

/* section two. list of features */
.feature-list .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list .paragraph {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* section three */
.imagine-position {
  height: auto;
  mix-blend-mode: normal;
}

/* section four. our team */
.team-background {
  background-color: var(--grey-background-color);
}
.team-list .title {
  color: var(--primary-text-color);
  font-family: var(--primery-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-list .paragraph {
  color: var(--secondary-text-color);
  font-family: var(--primery-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-list .decoration {
  background-color: var(--second-accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* footer */
.footer {
  background-color: var(--accent-background-color);
}

.footer-logo {
  color: var(--second-accent-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.adress-list {
  font-family: var(--primery-font);
  font-style: normal;
  font-weight: 400;
}
.residence {
  color: var(--second-accent-color);
}
.data {
  color: rgba(255, 255, 255, 0.6);
}

/* Стили для portfolio.html */
/* button section */
.filter {
  font-family: var(--primery-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-primery {
  color: var(--second-accent-color);
  background-color: var(--blue-background-color);
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-primery:hover,
.button-primery:focus {
  background-color: #188ce8;
}
.button-secondary {
  color: var(--primary-text-color);
  background-color: var(--grey-background-color);
  cursor: default;
  border-radius: 4px;
  border: transparent;
}
/* projects-list */
.decor {
  background-color: var(--primery-background-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.projects-title {
  color: var(--primary-text-color);
  font-family: var(--primery-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-paragraph {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
